.card-list { 
    display: flex;
    flex-flow: row;

    justify-content: center;
}

.card { 
    background-color: #457B9D;
    width: fit-content;
    padding: 1rem;
    margin: 1rem;

    width: 20rem;

    text-align: center;
    font-size: 1rem;

    color: white;
    border-radius: 10px;
    border: 5px solid #1D3557;
}

.card img { 
    border-radius: 10px;
}

.card p { 
    padding: .5rem;
    background-color: #E63946;
    border-radius: 10px;
}

.card:hover { 
    outline: 10px solid #E63946;
    outline-offset: 5px;
}

.informator-holder {
    min-height: 60vh; 
    display: flex; 
    justify-content: center;
    align-content: center;
    align-items: center;

    flex-flow: column;
}

.winner-informator { 
    background-color: #84f66d;
    width: fit-content;

    font-size: 2rem;
    padding: 1.5rem;

    border-radius: 20px;
}

.loser-informator { 
    background-color: #E63946;
    width: fit-content;

    font-size: 2rem;
    padding: 1.5rem;

    border-radius: 20px;
    color: white;
}