.intro-header { 
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    outline: double 10px red white;
    outline-offset: -10rem;
}

.intro-h1 { 
    font-size: 5rem;
    padding-left: 0.5rem;
    text-align: center;
    margin-bottom: 1rem;
}

.intro-button { 
    align-self: center;
    font-size: 3rem;
    padding: 1rem;
    border-radius: 20px;

    width:90%;
    color: white;
    background-color: #e63946;
    border: none;
    margin-top: 1rem;
}

.intro-button:hover, .intro-button:focus { 
    background-color: #A8DADC;
    color:#1D3557;

    font-weight: 900;
    font-size: 2.5rem;
}
