* { 
    box-sizing: border-box;
    padding: 0; 
    margin: 0;
}

body { 
    margin: 0;
    background-color: #F1FAEE;
    font-family: "Roboto";
}

header { 
    background-color: #1D3557;
    color: white;
}

h1 { 
    padding: 1rem;
}

h2 { 
    padding: .5rem;
    padding-left: 1rem;
    margin-bottom: 0; 
    color: white;
    background-color: #1D3557;
}

.times-hit{ 
    padding: 1rem;
    background-color: #1D3557;
    color: white;

    font-size: 2rem;
}

header h1 { 
    text-align: center;
    font-size: 2rem;
}

.start-level-button { 
    background-color: #E63946;
    border: none; 
    padding: 2rem;

    font-size: 2rem;
    font-weight: 600;
    color: white;
    width: 6rem;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    min-width: 20vw;
    min-height: 10vh;

    display: grid;
    place-content: center;

    border-radius: 20px;
}

.start-level-button:hover, .start-level-button:focus { 
    background-color: #A8DADC;
    color:#1D3557;

    font-weight: 900;
    font-size: 2.5rem;
}

.quote { 
    position: absolute;
    top: 65%;
    left: 50%;

    transform: translate(-50%, -50%);
    font-size: 2rem;

    text-align: center;
    color: white;

    background-color:#1D3557;
    border-radius: 20px;
    padding: 1rem;  
    margin: 1rem;

    font-family: 'Handlee', cursive;
}

.in-level-informator  { 
    background-color: #1D3557;
    display: flex;
}

.in-level-buttons { 
    display: grid;
    grid-template-columns: repeat(2, 3rem);

    grid-template-rows: 2.5rem;
    place-content: center;

    column-gap: .5rem;
    justify-content: end;
}

.in-level-button  { 
    background-color: #E63946;
    border-radius: 20px;

    color: white;
    border: none;
}

.in-level-button:hover, .in-level-button:focus { 
    background-color: #A8DADC;
    color:#1D3557;

    font-weight: 900;
}