.themes-section { 
    padding: 1rem;
    min-height: 91vh;

    display: grid; 
    place-content: center;
}

.themes-section button { 
    border: none; 
    border-radius: 20px;
    padding: 1rem;
    background-color: #e63946;
    color: white;

    font-weight: 500;
    font-size: 1.5rem;
    margin-top: 2rem;
}

.themes-section button:hover, .themes-section button:focus {
    background-color: #A8DADC;
    color:#1D3557;

    font-weight: 900;
}

/* Same as .card */

.theme-option {
    background-color: #457B9D;
    width: fit-content;
    padding: 1rem;
    margin: 1rem;

    width: 20rem;
    text-align: center;

    text-align: center;
    font-size: 1rem;

    color: white;
    border-radius: 10px;
    border: 5px solid #1D3557;    
}

.theme-option:hover, .theme-option:focus, .selected { 
    outline: 10px solid #E63946;
    outline-offset: 5px;
}

.theme-option img { 
    border-radius: 10px;
}

.theme-option p { 
    padding: .5rem;
    background-color: #E63946;
    border-radius: 10px;
}

.themes-section-grid  {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: repeat(2, 50%);

    column-gap: 1rem;
    row-gap: 2rem;
}

.themes-section-informator { 
    text-align: center;
    margin: 1.5rem;
    padding: 1rem;
    border-radius: 10px;

    background-color: #A8DADC;
    color:#1D3557; 

    font-weight: 900;
    font-size: 1.5rem;
}